{{> partials/header.html}}
{{> partials/navigation.html}}
{{> partials/sidebar.html}}
{{> partials/topbar.html teamName=teamName}}
<!-- Begin: Content -->
<section id="content" class="table-layout animated fadeIn">
    <body>
    <!-- begin: .tray-center -->
    <div class="tray tray-center">
        <div class="row">
            <div class="col-sm-12 col-xl-3">
                <div class="panel panel-tile text-center br-a br-grey">
                <div class="panel-body">
                    {{#each highestRating}}
                        <h1 class="fs30 mt5 mbn">{{this}}</h1>
                        <h6 class="text-success">Highest Average Rating</h6>
                    </div>
                        <div class="panel-footer br-t p12">
                  <span class="fs11">
                    <i class="fa fa-arrow-up pr5"></i>
                    <b>{{@key}}</b>
                  </span>
                        </div>
                    {{/each}}
                </div>
            </div>
            {{#each mostMotm}}
                <div class="col-sm-12 col-xl-3">
                    <div class="panel panel-tile text-center br-a br-grey">
                        <div class="panel-body">
                            {{#each this}}
                                <h1 class="fs30 mt5 mbn">{{this}}</h1>
                            {{/each}}
                            <h6 class="text-success">Most {{@key}}</h6>
                        </div>
                        <div class="panel-footer br-t p12">
                  <span class="fs11">
                    <i class="fa fa-arrow-up pr5"></i>
                      {{#each this}}
                          <b>{{@key}}</b>
                      {{/each}}
                  </span>
                        </div>

                    </div>
                </div>
            {{/each}}
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="container"></div>
            </div>
        </div>
    </div>
    </body>
</section>

{{> partials/footer.html}}
<script>
    jQuery(document).ready(function () {

        var goals = 'goals';

        $(function () {
            var myChart = Highcharts.chart('container', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: null
                },
                xAxis: {
                    categories: ['Match 1', 'Match 2', 'Match 3', 'Match 4', 'Match 5']
                },
                yAxis: {
                    min: 0,
                    tickInterval: 1,
                    title: {
                        text: goals
                    }
                },
                {{{model}}}
            });
        });

    });

</script>
</html>