{{> partials/header.html}}
{{> partials/navigation.html teamName=teamName}}
{{#if single}}
    {{>partials/singleTeamPartials/teamSidebar.html teamId}}
{{else}}
    {{> partials/sidebar.html}}
{{/if}}
{{> partials/topbar.html}}
<!-- Begin: Content -->
<section id="content" class="table-layout animated fadeIn">
    <!-- begin: .tray-center -->
    <div class="tray tray-center">
        <body>
        <div class="panel">
            <div class="panel-body pn">
                <div class="col-md-12">
                    <h2>{{model.name}}</h2>
                </div>
                <div class="col-md-3">
                    <img src="{{model.profileImageUrl}}"
                         class="img-responsive profile-image">
                </div>
                <div class="col-md-12">
                    <h4>Bio:</h4>
                    <p>{{model.bio}}</p>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table admin-form theme-warning tc-checkbox-1 fs13">
                            <thead>
                            <tr class="bg-light">
                                <th class="">Name</th>
                                <th class="">Team Name</th>
                                <th class="">Goals</th>
                                <th class="">Assists</th>
                                <th class="">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-left">{{model.name}}</td>
                                <td class="">{{model.teamName}}</td>
                                <td class="">{{model.totalGoals}}</td>
                                <td class="">{{model.assists}}</td>
                                <td class="">
                                    <div class="btn-group text-right">
                                        <button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle"
                                                data-toggle="dropdown" aria-expanded="false"> Active
                                            <span class="caret ml5"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </body>
    </div>
</section>
{{> partials/footer.html}}
</html>
